/* navar override */
.navar-masthead {
    background-color: #428bca;
}
.navbar-default .navbar-brand
{
    color:#ffffff;
}
.navbar-default .navbar-nav>li>a
{
    color:#cdddeb;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
{
    color:#ffffff;
    background-color: #2185d0;
}

body {
    min-height: 700px;
    padding-top: 70px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
{
    background-color: #ffffff;
}

.navbar-default .navbar-toggle
{
    background-color: #ffffff;
}

.form_header {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #e5e5e5;
    height: 30px;
}
.form_header_title {
    font-weight: bold;
    text-align: left;
    width: 40%;
    float: left;
}
.form_header_date {
    text-align: right;
    width: 20%;
    float: right;
}

.form_button_container
{
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}

form {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin: 0px;
}

.table-list {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.table-list tr:nth-child(even) {
    background-color: #f1f1f1;
}
.table-list tr, .table-list tr {
    border-bottom: 1px solid #ddd;
}

.table-list>thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
}

/* login form */
#loginForm { max-width: 300px; margin: 0 auto}
#joinForm { max-width: 400px; margin:0 auto}
#joinForm .input-group-addon { min-width: 110px; }

/* category */

/* post */
.attacments_header {
    border-bottom: 1px solid #8c8c8c;
    margin-bottom: 5px;
    padding-bottom: 5px;
}